.json-editor-modal-container {
    height: 100%;
}

.json-editor-modal-wrapper {
    height: 80vh;
    width: 80vw;
}

.json-editor-modal-title {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    height: 56px;
    background-color: #FFF;
}

.json-editor-modal-body {
    height: calc(100% - 56px); /* minus height of title */
}