body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.relative {
  position: relative;
}

.blocker {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.inline-bloc {
  display: inline-block;
}

.app-container {
  padding: 20px;
}

.form-row {
  margin-bottom: 10px;
}

.form-element-horizontal {
  overflow: hidden;
  display: inline-block;
  margin: 5px 20px 5px 0;
}

.response-preview-container {
  display: flex;
  margin: 20px 0;
}

.rpc-side {
  flex: 1;
}

.rpc-side:first-child {
  padding-right: 20px;
}
